/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.center {
  margin: auto;
  width: 50%;
  /*text-align: center;*/
  /*border: 3px solid green;*/
  padding: 10px;
  /*background-color: #eee;*/
  
}


.header-content{
	padding: 100px;
	/*border: 3px solid blue;*/
	text-align:center;

}


.section-content{
	display: flex;
	justify-content: center;
	background-color: #eee;
	padding: 150px;

}

.section-content label,input, select, span{

	padding: 10px;
	margin-right: 10px;
	font-family: monospace;
	font-size: 20px;
}
.btn{
  background-color: #555555; /* black */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

footer{
	background-color: #474544;
	color: white;
	padding: 20px;
	text-align: center;
}
footer p{
	font-size: 25px;
}

a {
  color: white;
  text-decoration: none;
  cursor: all;
  padding: 20px;
  font-size: 20px;
}
a:hover{
  color:#28e0e0;
}
.contact{
	display: flex;
	justify-content: center;
}
