h1{
	font-weight: bold;
	color:white;
	font-family: Ranchers;
	text-decoration: underline;
	padding:2px;
	letter-spacing: 3px;
	 text-shadow: 2px 3px #26a69a  ;
}
}
.button-container{
	display: flex;
	padding:3rem;
	padding-top: 5rem;

}

.button {
  
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5%;
  border:3px solid #2e7d32;
  cursor: pointer;
  transition:transform 200ms ease-in-out;
  padding:1rem;
}

.button:hover{
	transform:scale(1.1);
}

#textarea{

	display:inline-flex;
	 border: 3px solid #3F729B;
	 font-family: Ranchers;
	 padding:3rem;
	 font-size: 16px;
	 box-shadow: 5px 10px rgba(63, 81, 181, 0.3);
	 background: #D3959B;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to bottom, #BFE6BA, #D3959B);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to bottom, #BFE6BA, #D3959B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.box{
	display: grid;
	background: grey;
	justify-content: center;
   
	padding:3rem;

	background: #403a3e; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #403a3e, #be5869); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #403a3e, #be5869); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	}
