.center {
  margin: auto;
  width: 50%;
  /*text-align: center;*/
  /*border: 3px solid green;*/
  padding: 10px;
  /*background-color: #eee;*/
  
}

.header-content{
	padding: 100px;
	/*border: 3px solid blue;*/
	text-align:center;

}

.section-content{
	background-color: #eee;
	padding: 10px;
}

.quotebox{
	margin:auto;
	width: 75%;
	padding: 50px;
	display: flex;
	justify-content: center;
	border: 3px solid green;
	background-color: lightyellow;

}

.quotebox-text{
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	color:#474544;
	font-size: 40px;

}
.btn-container{
	display: flex;
	padding: 20px;
	margin-top: 10px;
	background-color: #ac96b3;
	justify-content: space-between;
}

.btn-section{
	
	justify-content:right;
	display: grid;
	grid-template-columns:100px 100px;
	grid-template-rows: auto auto;
	grid-gap: 10px;
}

.btn-section button{
	padding: 10px;
	height: 40px;
	width: 70px;
	font-weight: bold;
	font-size: 16px;
	color: white;
	border-radius:10%;
	border:2px solid #bcaaa4;
	display:inline-block;
	cursor: pointer;
	transition:transform 200ms ease-in-out;
}

.btn-section button:hover{
	transform:scale(1.1);
}

.generate-quote-button{
	padding: 20px;
	font-size: 16px;
	font-weight: bold;
	background-color: gray;
	color: white;
	border:2px solid #757575;
	display:inline-block;
	cursor: pointer;
	transition:transform 200ms ease-in-out;
}

.generate-quote-button:hover{
	transform:scale(1.1);
}

.btn-red{
	background-color: #d61c2e; /*#ff1751;
*/	
}

.btn-blue{
	background-color: #4a63c9;
	
}

.btn-green{
	background-color: #5dc74d;
	
}

.btn-yellow{
	background-color: #cbd12b;
	
}

footer{
	background-color: #474544;
	color: white;
	padding: 40px;
	text-align: center;
}
footer p{
	font-size: 40px;
}

a {
  color: white;
  text-decoration: inherit;
  cursor: all;
  padding: 40px;
  font-size: 20px;
}
a:hover{
	color:#28e0e0;
}
.contact{
	display: flex;
	justify-content: center;
}

.author{
	color: gray; 
}